.without-img{
    max-width: 300vw;
    max-height: 400vh;
    display: flex;
    align-content: center;
    text-align: center;
    padding-top: 150px;
    padding-left: 80px;
    background-color: #848CA0;
}
.img{
    max-width: 300px;
}
.card{
    max-width: 300px;
    margin: 10px;
}
.list-group{
    list-style-type: none;
}
.btn{
    transition: 0.3s;
    color: grey;
    font-weight: 300;
    border: 1px solid lightgray;
    margin-bottom: 20px;
}
.btn:hover{
    color: white;
    background-color: grey;
}