.d-flex{
    flex-wrap: wrap;
}
.btn-page{
    background-color: white;
    border: 1px solid dodgerblue;
    color: dodgerblue;
    transition: 0.2s;
}
.marked{
    background-color: dodgerblue;
    color: #F1F3F6;
}
.text-align-center{
    text-align: center;
}