.App {

}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.left-right{
  font-size: 14px;
  padding-left: 25px;
  padding-right: 25px;
}
.weight{
  font-weight: 500;
}
.color{
  background-color: #F1F3F6;
  color:#848CA0;
}
.color-text{
  color: #A5A5A5;
  font-weight: 400;
}
.
.text-align-center{
  text-align: center;
}